.navbar {
    margin-bottom: 40px;
}

.btn {
    /* margin-bottom: 0px; */
}

.profileDropdownText {
    color: white;
    display: inline;
}

.dropdown {
    display: inline-block;

}

.nav-profile {
    padding-right: 10px;
    color: white;

}

.navbar-right {
    float: right;
}

.navbar-brand {
    color: white;
}

.profileDropdownText:hover {
    color: white;
}

.profileDropdown {
    background-color: #369 !important;
    border: none;
}

.nav-item {
    color: white;
}

#profile-text {
    /* margin:0px; */
    padding-left: 10px;
    margin: auto;
    color: white;
    display: inline;
}

.navbar, .navbar-inverse {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
    min-height: 80px;
    margin-bottom: 40px;

}

.nav li {
	display: inline;
	color: white;
}

.navbar-inverse .navbar-nav > li > a {
	color: #ffffff;
	padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
	background-color: #369;
	transition: 0.7s all linear;
	height: 100%;
}

.navbar-right {
    display:inline;
}