.card {
    cursor: pointer;
}

.card-header {
  background-image: url("../../images/linedpaper.png")
  
  }

  .card:hover { 
    /* outline: solid 5px #369 ; */
    box-shadow: 0 0 5px #EB6864;
    /* outline: 4px solid red; */
}