.card {}

.card-body {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 200px;
}

.card-title {
    display: inline;
}

.delete-btn {
    cursor: pointer;
    color: #fff;
    background-color: #EB6864;
    border-color: #EB6864;
    border-radius: 3px;
    float: right;
}

.profile-pic {
    border-radius: 50%;
    width: 40px;
    display: inline;
}

.username {
    display: inline;
    padding-left: 10px;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #333333;
    text-decoration: none;
}