.card {
    max-width: 400px;
}

.card-body {
    height: 200px;
}

.card-header {
    max-height: 100px;
    height: 100px;
    overflow:hidden

}

.card-title {
    display: inline;
    max-width: 270px;

}

.delete-btn {
    cursor: pointer;
    color: #fff;
    background-color: #EB6864;
    border-color: #EB6864;
    border-radius: 3px;
    float: right;
}

.profile-pic {
    border-radius: 50%;
    width: 40px;
    display: inline;
}

.username {
    display: inline;
    padding-left: 10px;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #333333;
    text-decoration: none;
}

@media only screen and (max-width: 1200px) {
    .card-title {
        max-width: 300px;

    }
  }

  @media only screen and (max-width: 991px) {
    .card-title {
        max-width: 350px;

    }
  }

  @media only screen and (max-width: 767px) {
    .card-title {
        max-width: 370px;
    }
    .card {
        width: auto;
    }
    .progress {
        width: 400px;
    }
  }