.card {
    height: auto;
}

.card-body {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 200px;
    overflow:hidden;
}

.card-header {
    height: 90px;    
    overflow:hidden

}

.card-title {
    display: inline;
    max-width: 270px;
    padding-top: 5px;
    padding-left: 15px;
}

.card-subtitle {
    display: inline;
    max-width: 270px;
    padding-top: 5px;
    padding-left: 15px;
}

.delete-btn {
    cursor: pointer;
    color: #fff;
    background-color: #EB6864;
    border-color: #EB6864;
    border-radius: 3px;
    float: right;
}

.profile-pic {
    border-radius: 50%;
    width: 40px;
    display: inline;
}

.username {
    display: inline;
    padding-left: 10px;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #333333;
    text-decoration: none;
}

/* .progress {
    width: 285px;
} */
@media only screen and (max-width: 1200px) {
    .card-title {
        max-width: 300px;

    }
    /* .progress {
        width: 322px;
    } */
  }

  @media only screen and (max-width: 991px) {
    .card-title {
        max-width: 350px;

    }
    /* .progress {
        width: 367px;
    } */
  }

  @media only screen and (max-width: 767px) {
    .card-title {
        max-width: 370px;
    }
    .card {
        width: auto;
    }
    .card-body {
        width: 530px;
    }
  }